/* :root {
    --page-padding: 25%;
    --bg-lighter: rgb(55, 55, 55);
    --bg: rgb(32, 32, 32);
    --bg-darker: rgb(22, 22, 22);
    --border: rgb(64, 64, 64);
    --text: rgb(230, 230, 230);
    --primary: rgb(31, 169, 227);
    --radius: 4px;
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 38px;
} */

:root {
    --page-padding: 25%;
    --bg-lighter: #1a1a1a;
    --bg: #131313;
    --bg-darker: #090909;
    --border: rgb(41, 41, 41);
    --text: #dbdbdb;
    --primary: #1B7BFF;
    --accent: #ff9f1b;
    --radius: 4px;
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 38px;
}

html {
    font-family: system-ui, sans-serif;
    background-color: var(--bg);
    color: var(--text);
}

main {
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.card {
    padding: 1rem;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    font-weight: 500;
    font-size: 1.1rem;
    background-color: rgba(200, 200, 200, 0.1);
    border-radius: var(--radius);
}

.card:not(.no-hover):hover {
    background-color: rgba(200, 200, 200, 0.2);
}

.button {
    border: none;
    cursor: pointer;
    font-weight: 400;
    border: none;
    background-color: var(--primary);
    padding: 0.8rem;
    font-family: inherit;
    font-size: 1.1rem;
    border-radius: var(--radius);
    text-align: center;
    font-weight: 500;
}

.button:hover {
    filter: brightness(75%);
}

.button:disabled {
    background-color: rgb(48, 48, 48);
}

.breadcrumbs {

    > span {
        font-weight: 600;
        color: var(--primary);
    }
}

.go-back {
    font-weight: 500;
    color: var(--primary);
}