
.page-padding-right {
    padding-right: var(--page-padding);
}

.page-padding-left {
    padding-left: var(--page-padding);
}

.flex {
    display: flex;
    gap: var(--spacing-small);
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.flex-1 {
    flex: 1;
}

.gap-m {
    gap: var(--spacing-medium);
}

.gap-l {
    gap: var(--spacing-large);
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.underline {
    text-decoration: underline;
}

.text-primary,
.primary,
.p {
    color: var(--primary);
}

.red {
    color: rgb(238, 19, 19);
}

.pointer {
    cursor: pointer;
}

.bg-lighter {
    background-color: var(--bg-lighter);
}