h1 {
    padding-top: 2.5rem;
    padding-bottom: 3.5rem;
    font-size: 2.5rem !important;
}

h2 {
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    font-size: 1.85rem !important;
}

h3 {
    padding-top: 0.9rem;
    padding-bottom: 1rem;
    font-size: 1.25rem !important;
}

p, ul, ol, code {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}